/* global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 80%;
  margin: 0 auto;
  background: black;
}

img{
  width: 45px;
}

li{
  list-style: none;
}

.container{
  grid-column: 2/3;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 180px 1fr;
  background: #fff;
}

.side-bar{
  padding: 15px;
  grid-column: 1/2;
  grid-row: 1/3;
  background: #1992D4;
  color: white;
  font-weight: bold;
}

.side-bar img{
  filter: invert(100%);
}



.brand{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
}

.side-bar ul{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-left: 60px;
}

.side-bar ul li{
  transition: .5s;
}

.side-bar ul li:hover{
  font-size: 1.4rem;
  text-decoration: underline;
}

.side-bar .down{
  grid-row: 6/12;
}


header{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  padding-right: 60px;
  padding-left: 50px;
  
  
}

form{
  grid-column: 1/2;
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto;
}

form img{
  width: 13px;
  
}

form input{
  min-width: 150px;
  width: 95%;
  border-radius: 20px;
  background: #e2e8f0;
  border: none;
  height: 25px;
  
}

.search-items{
  
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  margin-left: auto;
  justify-items: center;
  gap: 20px;
}


.ring{
  width: 15px;
}

.cat{
  width: 30px;
}

.search-items > li:nth-child(3){
  font-weight: bold;
}

.left-section{
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.left-section img{
  width: 65px;
}


.left-section span{
  font-size: 0.88rem;
  
}

.left-section p{
  font-size: 1.4rem;
  margin-top: 6px;
}


.right-section{
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3,minmax(80px,1fr));
  gap:20px;
  
}

.right-section buttons{
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
 
}

main{
  grid-column: 2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3 1fr);
  background-color: #e2e8f0;
  padding: 30px;
  column-gap: 20px;
  
}

main h2,
section > h2{
  font-size: 1.3rem;
  margin-bottom: 10px;

}

.projects{
  grid-column: 1/3;
  grid-row: 1/3;
}

.projectsContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:20px;
  row-gap: 20px;
}

.projectsContainer > div{
  /* max-width: 450px; */
  padding: 30px;
  border-left: 10px solid #efb122;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  
}

.logos{
  align-self: end;
  justify-self: end;
  margin-top: 20px;
}


.logos img{
  width: 20px;
}



.announcements > div{
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  /* max-height: 80%; */
}

.announce{
  border-bottom: 1.5px solid #d7d7d7;
  padding-bottom: 15px;
}

.announce:last-child{
  border: none;
  padding-bottom: 0;
}

.userContainer{
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  column-gap: 15px;
  row-gap: 15px;
  min-height: 310px;
}

.user{
  align-self: center;
}

.user span{
  color: #2a2a2a;
  font-weight: bolder;
}
.user p{
  color: #747474;
}